.env

.python-version

.DS_Store
backend/.DS_Store

.idea

remux_concat.py
translation.py
tts.py
pyannote.py

credentials.json

tts디버그1
tts디버그2

backend/venv/

backend/temp/

temp/

.cursor

__pycache__/
